# ============================================
# Système de Surveillance de Pression Artérielle
# Dépendances Python
# ============================================

# Kafka - Streaming de données
confluent-kafka==2.13.0

# Elasticsearch - Stockage et indexation
elasticsearch==8.11.0
elastic-transport==8.17.1

# Génération de données
faker==22.0.0

# Machine Learning
scikit-learn==1.8.0
pandas==3.0.0
joblib==1.5.3
numpy==2.4.1
scipy==1.17.0
threadpoolctl==3.6.0

# Utilitaires
python-dateutil==2.8.2
urllib3==1.26.20
certifi==2026.1.4
six==1.17.0
tzdata==2025.3
